<h1>Guarda la cronologia dei match</h1>
<table class="table">
  <td>Giocatore 1</td>
  <td>Giocatore 2</td>
  <td>Partite vinte G1</td>
  <td>Partite vinte G2</td>
  <% @history.each do |match| %>
    <tr>
      <form action = "<%= play_multiplayer_path %>">
        <% if match.request_close.present? && match.accept_close.present? %>
          <td><%= match.player_1.email unless match.player_1.nil? %></td>
          <td><%= match.player_2.email unless match.player_2.nil? %></td>
          <td><%= match.p1_win %></td>
          <td><%= match.p2_win %></td>
        <% end %>
      </form>
    </tr>
  <% end %>
</table>